<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mad_project">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="APS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">


        <activity android:name=".AddparkingDelete"></activity>
        <activity android:name=".Addparkingpayment"/>


       
        <activity android:name=".Addparking"/>
        <activity android:name=".Welcome1"/>
        <activity android:name=".SearchPark" />
        <activity android:name=".Welcome">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

            

        <activity android:name=".BOOKPayment" android:theme="@style/AppTheme2" />

        <activity android:name=".ForgotPassword" />
        <activity android:name=".history" />
        <activity android:name=".EditAccount" />
        <activity android:name=".AccountControl" />
        <activity android:name=".Feedback" />
        <activity android:name=".BookingProfileManagement" android:theme="@style/AppTheme2" />
        <activity android:name=".BookingHome" android:theme="@style/AppTheme2" />
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
        <activity android:name=".Main" />
        <activity android:name=".MapNavigate" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>